@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  @apply font-sans;
}

:root {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-wrap-start {
  @apply flex flex-wrap justify-start;
}

.button {
  @apply py-3 px-4 text-sm 2xl:text-base;
}

.button-primary {
  @apply bg-teal-500 text-white hover:bg-teal-600;
}

.property-information {
  @apply flex items-center;
}

.property-information--gap {
  @apply  pr-4 mr-4 border-r border-r-slate-300
}

.property-information--icon {
  @apply mr-2 text-grey-800;
}

.rounded-tr-bl {
  @apply overflow-hidden rounded-tr-xl rounded-bl-xl
}

.section {
  @apply py-16;
}

.container-flex {
  @apply container flex flex-wrap;
}


/** BUTTONS **/

.buttons {
  @apply flex items-center justify-center xl:justify-start mt-8;
}

.buttons a:first-child {
  @apply mr-2;
}

.banner-button {
  @apply inline-block h-14 w-40 overflow-hidden relative;
}

.banner-button span {
  transition:0.2s ease;
  @apply absolute inset-0 justify-center flex items-center;
}

.button--primary {
  @apply bg-dark hover:bg-darker text-white;
}

.button--secondary {
  @apply bg-highlight text-white hover:bg-highlight-darker;
}

.banner-button span:last-child {
  transform:translateY(100%);
}

.banner-button:hover span:first-child {
  transform:translateY(-100%);
}

.banner-button:hover span:last-child {
  transform:translate(0);
}

.banner {
  @apply h-screen -mt-32 relative overflow-hidden;
}

.banner::after {
  /* @apply bg-white absolute inset-0 bg-no-repeat bg-cover bg-center -z-1  -scale-x-100; */
  @apply bg-white absolute inset-0 bg-no-repeat bg-cover bg-bottom -z-1;
  transition:30s ease-in-out;
  content:"";
  background-image: url("https://images.unsplash.com/photo-1541858155916-08de608b4fe0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}
/* 
.banner:hover::after {
  transform:scale3d(-1, 1, 1) scale(2);
} */